.section-contact_us {
  height: 1330px;
  width: 100%;
  background-color: white;
}
.article-contact_us-wrapper {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
  padding-top: 300px;
  position: relative;
  min-height: 120%;
}
.article-contact_us-wrapper > p {
  margin: 0 auto;
  text-align: center;
}
.contact_us_32 {
  font-size: 32pt;
  color: $contact_us_32;
  @include ff-m_p;
}
.contact_us_16 {
  font-size: 16pt;
  color: $contact_us_16;
  @include ff-m_p;
}

/*--3 moment-----------------------------------*/
.contact_us_wrapper {
  width: 766px;
  margin: 0 auto;
  @include display_flex;
}
.contact_us_wrapper_left,
.contact_us_wrapper_center,
.contact_us_wrapper_right {
  text-align: center;
  width: 250px;
  padding-top: 100px;
}
.contact_us-circle_geolocation,
.contact_us-circle_telephone,
.contact_us-circle_message {
  height: 30px;
  width: 30px;
  margin: 0 auto;
}
.contact_us-circle_telephone {background-image: url("/images/contact_us/telephone.png");}
.contact_us-circle_geolocation {background-image: url("/images/contact_us/geolocation.png");}
.contact_us-circle_message {background-image: url("/images/contact_us/message.png");}
.contact_us_info {
  font-size: 13pt;
  color: $contact_us_info;
  @include ff-m_p;
}
.form-write_to_us {
  margin-bottom: 150px;
}
.form-write_to_us-btn_wrapper {
  width: 100%;
  @include display_flex;
}
.contact_us-footer {
  height: 100px;
  width: 100%;
  text-align: center;
  color: $contact_us-footer;
  z-index: 100;
  margin-top: 200px;
  position: absolute;
  bottom: 0;
}

/*---message--------------------------------*/
.form-write_to_us {
  width: 766px;
  margin: 100px auto 0 auto;
}
/*other code in /base/textarea...*/


/*---@media 4к---------------------------------------------------------*/
@media screen and (min-width:2000px) and (max-width:4100px) {
  .section-contact_us {height: 1700px; padding-top: 100px;}
  .article-contact_us-wrapper {width: 40%;}
  .article-contact_us-wrapper > p {transform: scale(1.5, 1.5); margin-bottom: 100px;}
  .contact_us_wrapper {transform: scale(1.5, 1.5); width: 100%}
  .contact_us_wrapper_left, .contact_us_wrapper_center, .contact_us_wrapper_right {transform: scale(1.5, 1.5); margin: auto;}
  .form-write_to_us {transform: scale(1.5, 1.5); margin-top: 600px;}
}
/*---@media desctop & pl-------------------------------------------------*/
@media screen and (min-width:800px) and (max-width:1200px) {
  .article-contact_us-wrapper {width: 100%;}
}
/*---@media mob----------------------------------------------------------*/
@media screen and (min-width:280px) and (max-width:800px) {
  .article-contact_us-wrapper {width: 100%;}
  .contact_us_wrapper {width: 100%;}
  .form-write_to_us {width: 90%;}
  .contact_us_wrapper_left,
  .contact_us_wrapper_center,
  .contact_us_wrapper_right {border-bottom: 1px solid $color-light_grey;}
  .form-write_to_us {margin-bottom: 100px;}
}
